extends layout

block content
  div(class='container mx-auto p-4')
    h1(class='my-4 text-center text-3xl font-bold text-gray-800') #{title}

    form(method='POST' class='max-w-md mx-auto p-4 bg-white shadow-md rounded-lg')
      div.form-group.mb-4
        label(for='title' class='block text-gray-700 text-sm font-bold mb-2') Title:
        input#title.form-input(type='text', placeholder='Name of book', name='title', required value=(undefined===book ? '' : book.title), class='w-full px-3 py-2 leading-tight focus:outline-none focus:shadow-outline border border-gray-300 rounded appearance-none')
      div.form-group.mb-4
        label(for='author' class='block text-gray-700 text-sm font-bold mb-2') Author:
        select#author.form-select(name='author', required class='w-full px-3 py-2 leading-tight focus:outline-none focus:shadow-outline border border-gray-300 rounded appearance-none')
          option(value='') --Please select an author--
          each author in authors
            if book
              if author._id.toString()===book.author._id.toString()
                option(value=author._id, selected) #{author.name}
              else
                option(value=author._id) #{author.name}
            else
              option(value=author._id) #{author.name}
      div.form-group.mb-4
        label(for='summary' class='block text-gray-700 text-sm font-bold mb-2') Summary:
        textarea#summary.form-textarea(placeholder='Summary', name='summary', required class='w-full px-3 py-2 leading-tight focus:outline-none focus:shadow-outline border border-gray-300 rounded appearance-none')= undefined===book ? '' : book.summary
      div.form-group.mb-4
        label(for='isbn' class='block text-gray-700 text-sm font-bold mb-2') ISBN:
        input#isbn.form-input(type='text', placeholder='ISBN13', name='isbn', value=(undefined===book ? '' : book.isbn), required class='w-full px-3 py-2 leading-tight focus:outline-none focus:shadow-outline border border-gray-300 rounded appearance-none')
      div.form-group.mb-4
        label(for='genre' class='block text-gray-700 text-sm font-bold mb-2') Genre:
        div.grid.grid-cols-2.gap-4
          each genre in genres
            div(class='flex items-center')
              input.checkbox-input(type='checkbox', name='genre', id=genre._id, value=genre._id, checked=genre.checked, class='mr-2 h-4 w-4 text-blue-500 focus:ring-blue-400 border-gray-300 rounded')
              label(for=genre._id class='text-gray-700') #{genre.name}
      button.btn.btn-primary(type='submit' class='w-full bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline')
        | Submit

    if errors
      ul.list-disc.text-red-500
        each error in errors
          li= error.msg