extends layout 

block content 
  h1(class='my-4 text-center text-2xl font-bold') #{title}

  p(class='mb-4') #[strong ID:] #{bookinstance._id}

  p(class='mb-4') #[strong Title: ]
    a(href=bookinstance.book.url class='text-blue-500 hover:underline') #{bookinstance.book.title}
  p(class='mb-4') #[strong Imprint:] #{bookinstance.imprint}

  p(class='mb-4') #[strong Status: ]
    if bookinstance.status=='Available'
      span(class='text-success') #{bookinstance.status}
    else if bookinstance.status=='Maintenance'
      span(class='text-danger') #{bookinstance.status}
    else
      span(class='text-warning') #{bookinstance.status}

  if bookinstance.status!='Available'
    p(class='mb-4') #[strong Due back:] #{bookinstance.due_back_formatted}

  p(class='mb-4') Do you really want to delete this book instance?

  form(method='POST')
    .form-group 
      input#bookinstanceid.form-input(type='hidden' name='bookinstanceid' value=bookinstance._id class='appearance-none')
      button.btn.btn-primary(type='submit' class='bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline') Delete 