extends layout

block content
  h1(class='my-4 text-center text-2xl font-bold') Genre: #{genre.name}

  div(style='margin-left:20px;margin-top:20px')

    h4(class='text-lg font-semibold mb-2') Books
    if genre_books.length
      dl
        each book in genre_books
          dt(class='mb-2')
            a(href=book.url class='text-blue-500 hover:underline') #{book.title}
          dd(class='mb-4') #{book.summary}
    else
      p(class='mb-4') This genre has no books.

  hr(class='my-4')
  p(class='mb-4')
    a(href=genre.url+'/delete' class='bg-red-500 text-white p-2 rounded-md') Delete Genre 
  p(class='mb-2')
    a(href=genre.url+'/update' class='bg-blue-500 text-white p-2 rounded-md') Update Genre 
