extends layout

block content
  div(class='max-w-4xl mx-auto p-6 bg-white shadow-lg rounded-lg')
    h1(class='my-4 text-center text-3xl font-bold text-gray-800') #{title}: #{genre.name}

    if genre_books.length
      p(class='mb-4 text-red-500') #[strong Delete the following books before attempting to delete this genre.]
      div(class='ml-4 mt-4')
        h4(class='text-lg font-semibold mb-2') Books
        dl(class='mb-4')
          each book in genre_books
            dt(class='mb-2')
              a(href=book.url class='text-blue-500 hover:underline') #{book.title}
            dd(class='mb-4 text-gray-700') #{book.summary}
    else
      p(class='mb-4 text-gray-700') Do you really want to delete this Genre?

      form(method='POST' class='mt-4')
        input#genreid(type='hidden' name='genreid' value=genre._id class='appearance-none')
        button(type='submit' class='bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline') Delete